@import './base.css';

body{ 
  min-height: 100vh;
  margin:0;
  display:flex; 
  flex-direction:column;
}

#app {
  /* max-width: 1280px;
  height: 100%;
  margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text); /*hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
}

main{
  flex: 1;
  display: flex;
  background-color: var(--color-background) !important;
}

.navbar {
  background-color: var(--color-background) !important;
}

.card {
  color: var(--color-text);
  background-color: var(--color-background) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card-content {
  background-color: var(--color-background) !important;
}

.title {
  color: var(--color-label);
}